@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	background-color: #121212;
}

ul, li{
	list-style: none;
}

a{
	text-decoration: none;
}

.container {
	min-height: 80vh;
	width: 100%;
}

span{
	color: #FF33BB;
}

marquee{
	color: white;
}

/***** NAVBAR *****/

.navbar{
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 10vh;
}

.nav-title{
	color: #FFF;
	transition: .2s;
	cursor: pointer;
}

.nav-title:hover{
	color: #FF33BB;
}

.nav-items, .nav-auth{
	display: flex;
	
}

.nav-item a{
	margin-left: 50px;
	color: grey;	
	transition: .2s;
}

.nav-item a:hover{
	color: #FFF;
}

/***** NAVBAR *****/



/***** HOME *****/

#home .home-container{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

#home .home-left img{
	width: 600px;
}

#home .home-right h1{
	font-size: 5em;
	line-height: 100px;
	padding-bottom: 25px;
	color: #FFF;
}

#home .home-right p{
	font-size: 1.2em;
	line-height: 40px;
	padding-bottom: 25px;
	color: grey;
}

#home .home-btn{
	font-weight: 600;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding-top: 25px;
}

#home .explore{
	color: #FFF;
	border: solid 1px #FF33BB;
	padding: 10px 20px 10px 20px;
	border-radius: 15px;
	filter: drop-shadow(0 0 .5rem #FF33BB)
			drop-shadow(5px 2px .5rem blue);
	transition: .2s;
}

#home .create{
	color: #FF33BB;
	transition: .2s;
}

#home .create:hover{
	color: #FFF;
}

/***** HOME *****/



/***** NFT *****/

#Nft{
	padding: 20px 0 20px 0;
}

#Nft .marquee-container{
	padding: 20px 0 20px 0;
	--pause-on-hover: running;
	--pause-on-click: running;
	overflow-x: hidden !important;
	display: flex !important;
	flex-direction: row !important;
	position: relative;
	width: 100%;
}

#Nft .marquee{
	--play: running;
	--direction: reverse;
	--duration: 66.25s;
	--delay: 0s;
	--iteration-count: infinite;
	flex: 0 0 auto;
	min-width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	animation: scroll var(--duration) linear var(--delay) var(--iteration-count);
	animation-play-state: var(--play);
	animation-delay: var(--delay);
	animation-direction: var(--direction);
}

#Nft .marquee2{
	--play: running;
	--direction: reverse;
	--duration: 66.25s;
	--delay: 0s;
	--iteration-count: infinite;
	flex: 0 0 auto;
	min-width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	animation: scroll var(--duration) linear var(--delay) var(--iteration-count);
	animation-play-state: var(--play);
	animation-delay: var(--delay);
	animation-direction: var(--direction);
}

#Nft .marquee:first-child{
	z-index: 2;
}

#Nft .slider_Nft{
	position: relative;
	width: 225px;
	height: 225px;
	display: inline-block;
	margin: 0 20px;
	cursor: pointer;
	vertical-align: middle;
	animation: moveSlideshow 15s linear infinite;
}

#Nft .img_Nft{
	width: 225px;
	height: 225px;
	border-radius: 20px;
	overflow: hidden;
	z-index: 1;
	position: relative;
}

#Nft .img_Nft img{
	max-width: 100%;
	height: auto;
}

@keyframes moveSlideshow {
	100% { 
	  transform: translateX(-1860px);  
	}
  }

/***** NFT *****/



/***** MARKETPLACE *****/

#marketplace .marketplace-container{
	max-width: 1280px;
	margin: 0 auto;
	padding-bottom: 125px;
}

#marketplace .marketplace-title{
	padding: 2.5em 0 .5em 0;
	text-align: center;
	font-size: 2.5em;
	color: #FFF;
}

#marketplace .marketplace-grid{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
  	grid-gap: 20px;
	grid-auto-rows: minmax(100px, auto);
	padding-top: 50px;
}

#marketplace .marketplace-card img{
	width: 425px;
}

#marketplace .marketplace-card-title{
	text-align: center;
	padding: 10px 0 10px 0;
	background-color: #FFF;
	color: #333;

}



/***** MARKETPLACE *****/
